
.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & li{
        list-style: none;
        padding: 0 25px;
    }
    & a{
        text-decoration: none;
        font: 20px;
        font-weight: 600;
        color: black;
        transition: 0.5 ease;
    }
    & a:hover{
        color: grey;
    }
}

/* responsive navbar */

.mobile{
    display: none;
    align-items: center;
}

.nabvar .active{
    right: 0px;
}

/* Start Media Query */
@media (max-width:799px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        /* right: 0; */
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        
        &li {
            margin-bottom: 25px;
        }
    }
    
    .mobile{
        display: flex;
        align-items: center;

        & i{
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }
    }
    
}