.seccion-productos-discos{
    text-align: center;
    .productos-container{
        display: flex;
        justify-content: space-around ;
        padding-top: 20px;
        flex-wrap: wrap;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);


        .producto{
            width: 25%;
            min-width: 250px;
            margin: 15px 0;
            padding: 10px 12px;
            border-radius: 20px;
            border: 1px solid #cce7d0;
            cursor: pointer;

            & img{
                width: 100%;
                border-radius: 20px;
            }
        }
}
}
